.card
  .card-header
    .card-title style='text-align:center;font-size:16ptfont-size:16pt'委托案件统计分析
  .card-body
    .row
      .col-md-4
        span style="top: 10px;right: 50px;position: absolute;z-index: 999;" 导出
        .per-chart id='entrust_user_container' style="height:500px;width:100%"
      .col-md-4
        span style="top: 10px;right: 50px;position: absolute;z-index: 999;" 导出
        .per-chart id='entrust_user_container1' style="height:500px;width:100%"
      .col-md-4
        span style="top: 10px;right: 50px;position: absolute;z-index: 999;" 导出
        .per-chart id='entrust_user_container2' style="height:500px;width:100%"

javascript:
  $(document).ready(function() {
   var data = $('.hidden').text();
   var json_data = JSON.parse(data).entrust_user;

   var chart = {
       plotBackgroundColor: null,
       plotBorderWidth: null,
       plotShadow: false
   };
   var title = {
      text: '今年案件数量-按鉴定中心统计'
   };


   var tooltip = {
      pointFormat: '{series.name}: <b>{point.y}</b>'
   };

   var pie_data = [
         {y: 1,name: "鉴定中心1"},
         {y: 5,name: "鉴定中心2"},
         {y: 5,name: "鉴定中心3"}
      ]
   //输入数据
   pie_data = json_data.cases_count

   var series= [{
      type: 'pie',
      name: '数量',
      data: pie_data
   }];

   var plotOptions = {
      pie: {
         allowPointSelect: true,
         cursor: 'pointer',
         dataLabels: {
            enabled: true,
            format: '<b>{point.name}</b>: {point.y}',
            style: {
               color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
            }
         }
      }
   };


   var json = {};
   json.chart = chart;
   json.title = title;
   json.tooltip = tooltip;
   json.series = series;
   json.plotOptions = plotOptions;
   var high_chart = Highcharts.chart('entrust_user_container', json);
   $("#capture_entrust_user_container").click(function(){
      high_chart.exportChartLocal();
   });


  // ---------------

   var chart1 = {
      type: 'column'
   };
   var title1 = {
      text: '当前案件数量-按状态统计'
   };
   var subtitle1 = {
      text: ''
   };
   var xAxis1 = {
      categories: ['待立案',
                  '待补充材料',
                  '立案',
                  '退案',
                  '执行中',
                  '执行完成',
                  '申请归档',
                  '结案'],
      crosshair: true
   };
   var yAxis1 = {
      min: 0,
      title: {
         text: ''
      }
   };
   var tooltip1 = {
      headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
      pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
         '<td style="padding:0"><b>{point.y}</b></td></tr>',
      footerFormat: '</table>',
      shared: true,
      useHTML: true
   };
   var plotOptions1 = {
      column: {
         pointPadding: 0.2,
         borderWidth: 0
      }
   };
   var credits1 = {
      enabled: false
   };
   //输入数据
   var stage_data =[]
   for(var i=0;i<json_data.stage_count.length;i++){
    stage_data.push(json_data.stage_count[i].count)
   }
   var series1= [{
        name: '案件数量',
            data: stage_data
        }];

   var json1 = {};
   json1.chart = chart1;
   json1.title = title1;
   json1.subtitle = subtitle1;
   json1.tooltip = tooltip1;
   json1.xAxis = xAxis1;
   json1.yAxis = yAxis1;
   json1.series = series1;
   json1.plotOptions = plotOptions1;
   json1.credits = credits1;
   $('#entrust_user_container1').highcharts(json1);

   //--------------
   //输入数据
   var months = []
   var month_count = []
   for(var i=0;i<json_data.month_mycase_count.length;i++){
    months.push(json_data.month_mycase_count[i].time)
    month_count.push(json_data.month_mycase_count[i].count)
   }

   var title2 = {
      text: '我委托的案件数量-按月统计'
   };
   var subtitle2 = {
      text: ''
   };
   var xAxis2 = {
      categories: months
   };
   var yAxis2 = {
      title: {
         text: ''
      },
      plotLines2: [{
         value: 0,
         width: 1,
         color: '#808080'
      }]
   };

   var tooltip2 = {
      valueSuffix: ''
   }

   var legend2 = {
      layout: 'vertical',
      align: 'right',
      verticalAlign: 'middle',
      borderWidth: 0
   };

   var series2 =  [
      {
         name: '案件数量',
         data: month_count
      },
   ];

   var json2 = {};

   json2.title = title2;
   json2.subtitle = subtitle2;
   json2.xAxis = xAxis2;
   json2.yAxis = yAxis2;
   json2.tooltip = tooltip2;
   json2.legend = legend2;
   json2.series = series2;

   $('#entrust_user_container2').highcharts(json2);

  });
