<div class="card">
	<div>
		<span style="font-size:17pt;padding:3px">缴费单列表</span>
		<!-- todo -->
	  <%=link_to edit_notification_path() do
	    raw("<a class='btn btn-success' role='button' style='width:70px;color:white;margin:15px;float:right;'>新建</a>")
  end%>
	</div>

<%= grid(@payment_orders, hide_submit_button: true, hide_reset_button: true, html: {style: "table-layout:fixed;", class:"card-body"}) do |g|

	g.column name: '状态', html: {style: "width:50px;"}, custom_filter: false do |a|
		PaymentOrder::ORDER_STAGE_MAP[a.try(:order_stage).try(:to_sym)]
  end

  g.column name: '', html: {style: "width:50px;"}, custom_filter: false do |a|
  	if a.order_stage == "confirm"
    	raw("<input type='checkbox' value=#{a.id}/>")
  	end
  end

  g.column name: '', html: {style: "width:50px;"}, custom_filter: false do |a|
      link_to edit_notification_path(a) do
        raw("<span class='glyphicon glyphicon-ok-sign' >提交</span>")
      end
  end
  g.column name: '', html: {style: "width:50px;"}, custom_filter: false do |a|
      link_to edit_notification_path(a) do
        raw("<span class='glyphicon glyphicon-ok-sign' >删除</span>")
      end
  end
  g.column name: '', html: {style: "width:50px;"}, custom_filter: false do |a|
      link_to edit_notification_path(a) do
        raw("<span class='glyphicon glyphicon-ok-sign' >编辑</span>")
      end
  end

  g.column name: '交款人', html: {style: "width:150px;"}, custom_filter: false do |a|
    a.payer
  end

  g.column name: '交款联系人', html: {style: "width:150px;"}, custom_filter: false do |a|
    a.payer_contacts
  end

  g.column name: '交款联系人电话', html: {style: "width:150px;"}, custom_filter: false do |a|
    a.payer_contacts_phone
  end

  g.column name: '委托人', html: {style: "width:150px;"}, custom_filter: false do |a|
    a.consigner
  end

  g.column name: '委托人联系人', html: {style: "width:150px;"}, custom_filter: false do |a|
    a.consiggner_contacts
  end

  g.column name: '委托人联系人电话', html: {style: "width:150px;"}, custom_filter: false do |a|
    a.consiggner_contacts_phone
  end

  g.column name: '鉴定费', html: {style: "width:150px;"}, custom_filter: false do |a|
    a.appraisal_cost
  end

  g.column name: '差旅费', html: {style: "width:150px;"}, custom_filter: false do |a|
    a.business_cost
  end

  g.column name: '出庭费', html: {style: "width:150px;"}, custom_filter: false do |a|
    a.appear_court_cost
  end

  g.column name: '调查费', html: {style: "width:150px;"}, custom_filter: false do |a|
    a.investigation_cost
  end

  g.column name: '咨询费', html: {style: "width:150px;"}, custom_filter: false do |a|
    a.consult_cost
  end

  g.column name: '其他', html: {style: "width:150px;"}, custom_filter: false do |a|
    a.other_cost
  end

  g.column name: '缴费合计', html: {style: "width:150px;"}, custom_filter: false do |a|
    a.total_cost
  end


  g.column name: '现金金额', html: {style: "width:150px;"}, custom_filter: false do |a|
    a.cash_pay
  end
  g.column name: '支票金额', html: {style: "width:150px;"}, custom_filter: false do |a|
    a.check_pay
  end
  g.column name: '支票号码', html: {style: "width:150px;"}, custom_filter: false do |a|
    a.check_num
  end
  g.column name: '刷卡金额', html: {style: "width:150px;"}, custom_filter: false do |a|
    a.card_pay
  end
  g.column name: '汇款金额', html: {style: "width:150px;"}, custom_filter: false do |a|
    a.remit_pay
  end
  g.column name: '汇款日期', html: {style: "width:150px;"}, custom_filter: false do |a|
    a.payment_date
  end
  g.column name: '汇款人', html: {style: "width:150px;"}, custom_filter: false do |a|
    a.payment_people
  end


end -%>
</div>

