= render partial: 'case_doc_modal', locals: { case_doc: @main_case.case_docs.new,
                                              case_stage: :executing,
                                              partial_name: 'executing_case_docs',
                                              case_modal_id: 'case_doc_modal' }
#dynamic_file_modal
= render partial: 'case_stage_bar', locals: { main_case: @main_case, case_stage: 'case_executing' }
= render 'nav_bar'

.card
  .card-body
    .row
      .col-md-12
        button type="button" class="btn btn-primary pull-right ml-2" data-toggle="modal" data-target="#case_doc_modal" 上传文件
        button#apply_close type="button" class="btn btn-primary pull-right " 申请结案
    .row#executing_case_docs.no-gutters
      - @main_case.case_docs.where(case_stage: :executing).each do |case_doc|
        .col-md-4.mt-2
          - unless case_doc.attachment.attached?
            span data-toggle="tooltip" data-placement="right" title="未关联文件" = case_doc.name
            = link_to display_dynamic_file_modal_main_case_path(@main_case, case_doc_id: case_doc.id), remote: true, method: 'POST' do
              span#upload_file.fa.fa-upload.ml-2
          - else
            span data-toggle="tooltip" data-placement="right" title="#{case_doc.attachment.blob.filename}" = case_doc.name

javascript:
  $('#apply_close').click(function () {
      var case_stage_select = $('#main_case_case_stage').selectize();
      case_stage_select[0].selectize.setValue('apply_filing');
  });

  //鉴定人之外的人看案件信息里的所有可点按钮为disable状态（此方法在四个页面里都有）
  var arr = ['edit','filing_info', 'payment_order_management', 'case_executing']

  if($('body').attr('data-controller') == 'main_cases' && arr.indexOf($('body').attr('data-action')) > -1){
      console.log('load!')
      var is_wtr = "#{@main_case.ident_user?(@current_user)}" 
      if(is_wtr == "false"){

          $('.app-content').find('input').attr('disabled',"disabled")
          $('.app-content').find('a').attr('disabled',"disabled")
          $('.app-content').find('textarea').attr('disabled',"disabled")
          $('.app-content').find('.btn').addClass('disabled');
          $('.app-content').find('button').attr('data-target','');

          var selects = $('.app-content').find('select')
          for(var i=0;i<selects.length;i++){
              var select = $(selects[i]).selectize();
                  var selectize = select[0].selectize;
                  selectize.disable();
          }

          //注：['edit','filing_info', 'payment_order_management', 'case_executing'] 的返回按钮增加class back 这里需要打开返回按钮的点击权限
           $('.app-content').find('.back').removeClass('disabled')

           $('#create_org_user').unbind();
           $('#apply_close').unbind();
      }
  }