css:
  body {
    background-color: #E0E0E0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .page {
    padding: 20px;
    width: 800px;
    height: 320px;
    background-color: white;
  }

  .title {
    display: flex;
    justify-content: center;
  }

  .title-text {
    font-size: 25px;
  }

  .number-text {
    font-size: 10px;
  }

  .pull-right {
    float: right;
  }

  .barcode-body {
    text-align: center;
    margin-top: 70px;
  }

body
  .page
    .barcode-body
      = image_tag url_for(@barcode_image)
      - if @transfer_doc
        h4 = @transfer_doc.barcode
        h4 = "#{@main_case.case_no_display} - #{@transfer_doc.serial_no}"
      - elsif @main_case
        h4 = @main_case.serial_no

javascript:
    window.print();