<div class="row">
  <div class="col-sm-12">

    <div class="btn-group btn-group-sm" role="group" aria-label="...">
      <button class="btn btn-primary btn-sm wg-external-submit-button" data-grid-name='department_users_grid'>过滤</button>
      <button class="btn btn-default btn-sm wg-external-reset-button" data-grid-name='department_users_grid'>清除过滤条件</button>
    </div>
    <span style="float:right;">
      <%= link_to('增加人员', add_users_department_path(department), class: "btn btn-default btn-sm") if can?("departments", "add_users") && can_has_users?(department) %>
    </span>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-12">
    <%= grid(users, hide_submit_button: true, hide_reset_button: true, html: {style: "table-layout:fixed;"}) do |g|
      g.column name: '真实姓名', attribute: 'name', ordering: false do |user|
        user.name
      end
      g.column name: '移动电话', attribute: 'mobile_phone' do |user|
        user.mobile_phone
      end

      g.column in_csv: false, html: {style: "width:30px;"}  do |user|
        if can?("departments", "remove_user_from_department")
          link_to '移除用户', remove_user_from_department_department_path(department, user_id: user.id), method: :delete, data: { confirm: '您确认移除该用户吗？' }, class: 'btn btn-danger btn-sm'
        end
      end
    end -%>
  </div>
</div>
