<div class="row">
  <div class="col-sm-12">
    <h4 class="h4">该角色所拥有的用户</h4>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="btn-group btn-group-sm" role="group" aria-label="...">
      <button class="btn btn-primary btn-sm wg-external-submit-button" data-grid-name='role_features'>过滤</button>
      <button class="btn btn-secondary btn-sm wg-external-reset-button" data-grid-name='role_features'>清除过滤条件</button>
    </div>
    <span>
      <%- if can?("roles", "add_users") %>
        <%= link_to '增加人员', add_users_role_path(role), class: "btn btn-primary btn-sm pull-right" %>
      <%- end %>
    </span>
  </div>
</div>
<br>
<div class="table-responsive">
  <div class="row">
    <div class="col-sm-12">
      <%= grid(users, hide_submit_button: true, hide_reset_button: true, show_filters: :when_filtered) do |g|
        g.column name: '登录名', attribute: 'login' do |user|
          user.login
        end

        g.column name: '真实姓名', attribute: 'name', ordering: false do |user|
          user.name
        end

         # 平台管理员只关注用户的机构级别的信息
          if @current_user.admin?
            g.column name: '所属机构', attribute: 'organization_id', ordering: false,
                     custom_filter: Organization.all.map{ |organization| [organization.name, organization.id] }, allow_multiple_selection: false do |a|
              a.organization.name if a.organization
            end
          else
          # 机构管理员只关注用户的科室级别的信息
            g.column name: '所属科室', attribute: 'department_names', ordering: false,
                     custom_filter: @current_user.organization.departments.map{ |department| [department.name, department.id] }, allow_multiple_selection: false do |a|
              a.department_names
            end
          end

        g.column in_csv: false, html: {style: "width:30px;"}  do |user|
          if can?("roles", "remove_user_from_role")
            link_to '移除用户', remove_user_from_role_role_path(role, user_id: user.id), method: :delete, data: { confirm: '您确认移除该用户吗？' }, class: 'btn btn-danger btn-sm'
          end
        end
      end -%>
    </div>
  </div>
</div>