// 示例：使用bootswatch免费主题： 'Paper' bootswatch
// 首先导入变量
// @import "bootswatch/cyborg/variables";
// @import "bootswatch/slate/variables";
// @import "bootswatch/flatly/variables";
// @import "bootswatch/lumen/variables";

// bootstrap自定义变量
$badge-bg: #FF0000;
$font-family-sans-serif: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
$navbar-height: 48px;
$breadcrumb-padding-horizontal: 0px;
$breadcrumb-separator: "|";
$breadcrumb-bg: #ffffff;
$line-height-base: 1.4;
$nav-tabs-border-color:#bbbbbb;
$nav-tabs-justified-link-border-color:#bbbbbb;
$nav-tabs-active-link-hover-border-color:#bbbbbb;
$pagination-bg:#fff;
$pagination-hover-bg:#ddd;
$pagination-border:#ccc;
$pagination-active-bg:#eee;
$pagination-disabled-bg:#fff;
$pagination-disabled-border:#ccc;
$pagination-disabled-color:#bbb;

// 最后导入需要的bootswatch主题
// @import "bootswatch/cyborg/bootswatch";
// @import "bootswatch/slate/bootswatch";
// @import "bootswatch/flatly/bootswatch";
// @import "bootswatch/lumen/bootswatch";

@import "bootstrap";
@import "animate";
$nprogress-color: #64abe6;
$nprogress-height: 5px;
$nprogress-zindex: 10100;
@import "nprogress";
@import "nprogress-bootstrap";
@import "wice_grid";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-datepicker3";
@import "select2";
@import "select2-bootstrap";
@import "select2totree";

// 你还可以在base.css.scss文件中添加更多自定义设置
// pivottable
@import "base";
@import "c3";

@import "signin";
@import "tabler/variables";
@import "bootstrap";
@import "tabler";
@import "tabler.plugins"; // optional
@import "tabler.icons"; // optional includes [browser, flag, payments]
