body { padding-top: 48px; }
html, body { height: 100%; }
#main {
  overflow:hidden;
  margin-bottom: -3000px; 
  padding-bottom: 3000px;
}
#homepage {
  //background-color:#fefefe;
  //background-color:#eee;
  //f5efe6;
  //width:64%;
  width:100%;
  float:left;
  margin-bottom: -3000px; 
  padding-bottom: 3000px;
}
#homepage-content {
  padding:20px 20px 20px 20px;
}
.home-a {
  padding: 16px;
  //border: 1px solid #fff;
}
a.home-a:hover {
  //box-shadow: 0px 2px 50px 2px #ccc;
  //background-color: White;
  //border: 1px solid #bbb;
  text-decoration: none;
}
.home-icon {
  //字体图标布局
  font-size: 8em;
  padding-top: 8px;
  padding-bottom: 18px;
  opacity: 0.8;
  border-color: #ddd; 

  //共享部分
  color: grey;
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  margin: 2px;
}
.home-icon:hover {
  color: rgb(93, 131, 235);
  box-shadow: 0px 4px 12px rgb(48, 43, 119);
  opacity: 1;
}
.home-icon-svg {
  //SVG图标布局
  font-size: 9em;
  padding-top: 0px;
  padding-bottom: 28px;
  opacity: 0.6;
  border-color: #ccc; 

  //共享部分
  color: grey;
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  margin: 2px;
}
.home-icon-svg:hover {
  box-shadow: 0px 4px 12px rgb(48, 43, 119);
  opacity: 1;
}


/*
.home-group {
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.home-group > div {
  color: SteelBlue;
}

.home-box { 
  margin: 0 auto;
  margin-top:16px;
  margin-bottom:16px;
  width:90%;
  padding:10%;
  padding-bottom:5%;
  text-align:center;
  //border-radius:8px;
  background-color:White;
  box-shadow:0px 2px 5px 2px #eee;
}
.home-icon {
  width: 80%; //96px;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-radius:12px;
  //font-size: 64px;
  margin: 0 auto;
  height: 0;
  padding-bottom: 80%;
}
.home-pic {
  width: 50%;
}
.home-label {
  font-size: 13px;
  font-family: "Microsoft Yahei";
  margin-top: 8px;
}
.home-icon-small {
  width: 100%; 
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-radius: 12px;
  margin: 0 auto;
  padding-bottom: 80%;
}
.home-pic-small {
  width: 50%;
}
#notice-box {
  background-color:#f6fbff;//f5efe6;
  width:36%;
  float:left;
  padding:24px;
  margin-bottom: -3000px; 
  padding-bottom: 3000px;
  margin-top: 12px;
}
#notice-content {
  //margin-top: 34px;
  padding:20px;
  font-size:12px;
  //border-radius:8px;
  background-color:White;
  box-shadow:0px 2px 5px 2px #eee;
}
.noticebar-a {
  color: #444444;
}
*/

#sidebar {
  //background-color:#000;
  background-color:Gray;
  width:100px;
  float:left;
  height:100%;
  font-size: 11px;
}
.sidebar-icon {
  font-size: 32px;
}
.sidebar-a {
  color: #444444;
  color: White;
}
/*
.sidebar-icon-m {
  font-size: 16px;
}
*/
#content {
  margin-left:100px;
}
//针对wice_grid设置单元格中内容需要自动换行
td {
  white-space:normal;
  word-break:break-all;
}
.green-box {
  background-color:lightgreen;
  border:1px solid limegreen;
  border-radius:3px;
}
.red-box {
  background-color:lightpink;
  border:1px solid hotpink;
  border-radius:3px;
}
.white-box {
  background-color:white;
  border:1px solid lightgray;
  border-radius:3px;
}

.ao-card {
  background-color:white;
  border:1px solid lightgray;
  border-radius:3px;
  margin: 5px;
  padding: 5px;
}

.finance_last_row {
  font-weight:bold;
  background-color:cornsilk;
}
.finance_total_row {
  font-weight:bold;
  background-color:cornsilk;
  border-top:2px solid red;
  border-bottom:2px solid red;
}
.finance_line {
  border-bottom-style:dotted;
  border-bottom-width:1px;
  border-bottom-color:lightgray;
}

#login-form {
  -vendor-animation-duration: 3s;
  -vendor-animation-delay: 2s;
}


textarea,
textarea.form-control,
input.form-control,
input[type=text],
input[type=password],
input[type=email],
input[type=number],
[type=text].form-control,
[type=password].form-control,
[type=email].form-control,
[type=tel].form-control,
[contenteditable].form-control {
  font-size: 12px;
}

table {
  font-size: 12px;
}

label,
.control-label,
.help-block,
.checkbox,
.radio {
  font-size: 12px;
  font-weight: normal;
}
.list-group {
  font-size: 12px;
  font-weight: 300;
}
.btn-sm, .btn-group-sm > .btn {
  font-size: 11px;
}

select,
select.form-control {
  font-size: 12px;
}
.select2-container--bootstrap .select2-selection {
  font-size: 12px;
}

h4, .h4 {
  font-size: 20px;
}

h5, .h5 {
  font-size: 14px;
}

th {
  text-align: center;
}

.breadcrumb {
  border: 0px;
  font-size: 12px;
}

.table-bordered {
  > thead > tr > th,
  > tbody > tr > th,
  > tfoot > tr > th,
  > thead > tr > td,
  > tbody > tr > td,
  > tfoot > tr > td {
    border-color: #ddd;
  }
}

.col-lg-2dot4 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 1200px) {
  .col-lg-2dot4 {
    float: left;
  }
  .col-lg-2dot4 {
    width: 20%;
  }
  .col-lg-pull-2dot4 {
    right: 20%;
  }
  .col-lg-push-2dot4 {
    left: 20%;
  }
  .col-lg-offset-2dot4 {
    margin-left: 20%;
  }
}

.wice-grid-title-row{
  background-color: #e5e5e5;
}
.wg-filter-row{
  background-color: #e5e5e5;
}
