.app {
  width: 100%;
  font-family: "微软雅黑";

  .dropdown-item {
    font-size: 15px;
  }

  .help-block {
    font-size: 5px;
  }

  .info {
    background-color: #4479D0;
    color: white;
  }

  .gray-card {
    background: rgb(245,247,251);
    margin-bottom: 15px;
  }

  .card-header-btn{
    margin-left: auto;

    .select2 {
      display: inline-block;
      width: 80px !important;
      margin-right: 5px;
    }
  }
}

html, body, #login-page {
  height: 100%;
  width:100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px; /* Set the fixed height of the footer here */
  line-height: 45px; /* Vertically center the text there */
  background-color: #222222;
}

#login-page {
  background: asset_url("login_bg.png") no-repeat center center;
  background-size: cover;
  background-attachment:fixed;
  overflow: hidden;
}
