<div class="row">
  <div class="col-sm-12">
    <h4 class="h4">该角色所拥有的权限</h4>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="btn-group btn-group-sm" role="group" aria-label="...">
      <button class="btn btn-primary btn-sm wg-external-submit-button" data-grid-name='role_features'>过滤</button>
      <button class="btn btn-secondary btn-sm wg-external-reset-button" data-grid-name='role_features'>清除过滤条件</button>
    </div>
    <span>
      <%- if can?("features", "add_features") && can_sys?(role) %>
        <%= link_to '角色授权', add_features_feature_path(role), class: "btn btn-primary btn-sm", style: "float:right" %>
      <%- end %>
    </span>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-12">
    <%= grid(features, hide_submit_button: true, hide_reset_button: true, show_filters: :when_filtered) do |g|
      g.column name: '功能名称', attribute: 'name' do |feature|
        feature.name
      end
      g.column in_csv: false, html: {style: "width:30px;"}  do |feature|
        if can?("features", "remove_feature_from_role") && can_sys?(role)
          # link_to remove_feature_from_role_feature_path(role, feature_id: feature.id), remote: true, method: :delete, data: { confirm: '您确认移除该权限吗？' } do 
          link_to '移除权限', remove_feature_from_role_feature_path(role, feature_id: feature.id), method: :delete, data: { confirm: '您确认移除该权限吗？' }, class: 'btn btn-danger btn-sm'
        end
      end
    end -%>
  </div>
</div>
